<div class="col-12" style="cursor: pointer; font-weight: bold;">
        <button type="button" (click)="logout()" class="btn btn-secondary">Logout</button>

        <button type="button" [routerLink]="['/articles/create']" class="btn btn-primary">Create</button>
</div>