<div class="container">
    <div class="row">
        <headers></headers>
        <div class="col-12">
            <h2>Create Article</h2>
            <div class="alert alert-success" *ngIf="successMessage">{{ successMessage }}</div>
            <errors [error]="error"></errors>
            <form [formGroup]="articleForm" (ngSubmit)="submit()">
                <div class="form-group">
                    <label for="exampleInputEmail1">Title</label>
                    <input type="text" class="form-control" formControlName="title">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Short Description</label>
                    <input type="text" class="form-control" formControlName="short_desc">
                </div>

                <div class="form-group">
                        <label for="exampleInputEmail1">Description</label>
                        <input type="text" class="form-control" formControlName="description">
                    </div>
            
                <div class="form-group">
                    <label for="exampleInputEmail1">Author</label>
                    <input type="text" class="form-control" formControlName="author">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Category</label> <a (click)="openCategory()" style="cursor: pointer;"><small style="color:red;">Add Category</small></a>
                    <select class="form-control" formControlName="category_id">
                        <option value="{{ status.id }}" *ngFor="let status of statuses">{{ status.name }}</option>  
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" [routerLink]="['/articles']" class="btn btn-primary">Go Back</button>
            </form>
        </div>

        <div *ngIf="openCategoryToggle" class="col-12">

            <h2>Add Category</h2>

            <form [formGroup]="categoryForm" (ngSubmit)="submitCategory()">
                <div class="form-group">
                    <label for="exampleInputEmail1">Title</label>
                    <input type="text" class="form-control" formControlName="name">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>
</div>
