<div class="container">
    <div class="row">
        <headers></headers>
        <div class="col-12">
            
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Category</th>
                    <th scope="col">Date</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let article of articles">
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.author }}</td>
                    <td>{{ article.category.name }}</td>
                    <td>{{ article.created_at }}</td>
                    <td>
                      <a [routerLink]="['/articles', article.id, 'edit']" class="btn btn-success">Edit</a>
                      <a (click)="deleteArticle(article.id)" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>