<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger" *ngIf="errorMessage">Wrong password</div>
            <form class="form-horizontal" method="POST" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
                <h2>Please Login</h2>

                <div class="form-group">
                    <label class="sr-only" for="password">Password</label>
                        
                        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password" required>
                </div>
                <button class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>
</div>