<ul class="list-unstyled" *ngIf="error">
    <li class="alert alert-danger" *ngFor="let e of error">
        {{e}} <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </li>
</ul>